@model IEnumerable<DogGo.Models.Dog>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="all-dogs-box">
    @foreach (var item in Model)
    {
    <div class="dog-card">
        <h2 class="dog-name"> @item.Name</h2>
        @if (item.ImageUrl == null)
        {
            <img class="dog-image" src="https://steamuserimages-a.akamaihd.net/ugc/957465297940373897/9488555CB841B54FFC6C8BF982FE9C93DAFD957A/" />
        }
        @if (item.ImageUrl != null)
        {
            <img class="dog-image" src="@item.ImageUrl" />
        }
        <div class="dog-details">
            Breed: @item.Breed <br />
            Owner: @item.Owner.Name <br />
            <hr />
            Notes: @item.Notes <br />      
            <hr />
        </div>
        <div class="dog-actions">
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    </div>
    }
</div>