@model DogGo.Models.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Walker Profile</h1>
<div class="walker-container">
    <img class="walker-details-img" src="@Model.Walker.ImageUrl" />
    <div class="walker-details-data">
        <div class="walker-name">Name: @Model.Walker.Name</div>
        <div class="walker-neighborhood">Neighborhood: @Model.Walker.Neighborhood.Name</div>
        <div class="walker-edit-button">@Html.ActionLink("✏️", "Edit", new { id = Model.Walker.Id }) </div>
    </div>    
</div>
<h2>Recent Walks</h2>
<div class="walk-container">


    <table class="walker-walk-table">
        <thead class="walker-walk-table-thread">
            <tr>
                <th class="walker-walk-table-th">
                    Date
                </th>
                <th class="walker-walk-table-th">
                    Client
                </th>
                <th class="walker-walk-table-th">
                    Duration
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Walks)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dog.Owner.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationMinutes) Minutes
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="walker-walk-walktime">
        Total Walk Time: @Model.TotalWalks minutes
    </div>
</div>